@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Serena';
    src: url('./assets/Font/Serena.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Serena';
    src: url('./assets/Font/Serena.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }